body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    gap: 20px;
}

.left-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 490px;
    
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0.5rem 0.5rem;
}

.button {
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    text-align: center;
    cursor: pointer;
    transition: all 100ms ease-out;
}
.secondterm{
    border: 1px solid #000;
}

.button:hover {
    transform: scale(1.06);
    box-shadow: 0px 4px 5px rgba(189, 184, 184, 0.5);
}

.right-column {
    padding: 0.5rem 0.5rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.header {
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.content-wrapper{
    display: flex;
    gap:10px;
}

.buttons-wrapper{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 200px;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 1;
    min-width: 400px;
    min-height: 400px;
    max-width: 600px;
    max-height: 480px;
    overflow-y: auto;
}

.submenu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.submenu .button{
    background-color: #d2d2d2;
}
.hidden {
    display: none;
}

.open-page-button {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

.open-page-button:hover {
    background-color: #45a049;
}



@media (max-width: 816px) {
    .container {
        flex-direction: column;
        padding-top: 1rem;
    }

    .content-wrapper{
        flex-direction: column;
    }

    .buttons-wrapper{
        gap: 5px;
        width: 100%;
        align-items: center;
    }

    .left-column, .right-column {
        align-items: center;
        width: 100%;
        .button{
            width: 20rem;
        }
        .button:hover{
            transform: scale(1.02);
        }
        padding: 0 0;
    }
    .content{
        padding:  0 0;
        min-width: auto;
        min-height: 400px;
        max-width: 375px;
        max-height: 480px;
    }
}